<p>attibute works!</p>
<h1 [ngStyle]="{'color':'blue','fontsize':'50px','text-align':'center'}">Attribute</h1>
<h1>ngstyle</h1>
<p [ngStyle]="{'color':'red'}">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque consequatur accusamus sit, alias dolore labore animi reiciendis assumenda autem id tempora deserunt voluptatibus aliquam a mollitia rerum, nulla, amet eligendi unde tempore vitae eos quia? Nulla, exercitationem sunt at consequatur recusandae accusamus nobis porro maxime consectetur architecto, rem aliquid nemo temporibus ipsam? Nemo necessitatibus maxime fugiat autem voluptatum dolorem nostrum qui. Dolorem tempora ratione nulla ipsam, exercitationem officia asperiores dicta odio culpa illum quas at eligendi quisquam adipisci quae pariatur. Praesentium explicabo corrupti eaque repellendus id soluta saepe delectus dicta sint quasi corporis, similique cumque vero. Culpa accusantium nostrum optio.</p>
<hr />
<h1>ngClass</h1>
<div [ngClass]="{'div2':change}"></div>
<button (click)="cliked()">click</button> 
 



<br />
<input type="text" value="{{good}}" [(ngModel)]="good">
{{good}}
